/* Restablecer márgenes y agregar padding a todo */
* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

/* Estilos para el body */
body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f9;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;
    padding: 20px;
}

/* Contenedor principal */
.container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);  /* Dos columnas */
    grid-gap: 30px;  /* Espacio entre los divs */
    width: 100%;
    max-width: 1200px;  /* Tamaño máximo del contenedor */
    background-color: #ffffff;
    border-radius: 12px;
    padding: 20px,0px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    /* overflow-y: auto; */
}

/* Estilo para los divs dentro de la cuadrícula */
.container > div {
    background-color: #ffffff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease;
}

/* Efecto hover para los divs */
.container > div:hover {
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
}

/* Estilo del título */
h1 {
    text-align: center;
    color: #333;
    margin-bottom: 20px;
    font-size: 2rem;
}

/* Estilo de los formularios */
form {
    margin-bottom: 20px;
}

input[type="text"] {
    padding: 10px;
    width: 100%;
    border-radius: 6px;
    border: 1px solid #ccc;
    margin-bottom: 15px;
    font-size: 1rem;
}

button {
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    font-size: 1rem;
    transition: background-color 0.3s ease;
}

button:disabled {
    background-color: #cccccc;
    cursor: not-allowed;
}

button:hover {
    background-color: #0056b3;
}

/* Estilos para las tablas */
table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 10px;
}

th, td {
    padding: 12px;
    text-align: center;
    border: 1px solid #ddd;
}

th {
    background-color: #f1f1f1;
}

/* Estilos para los enlaces */
a {
    color: #007bff;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

/* Estilos para los checkboxes */
input[type="checkbox"] {
    margin-right: 10px;
}

label {
    font-size: 1rem;
}

/* Estilo para los elementos de la lista */
ul {
    list-style-type: none;
    padding-left: 0;
}

ul li {
    padding: 8px;
    font-size: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

ul li a {
    color: red;
    cursor: pointer;
}

ul li a:hover {
    text-decoration: underline;
}

/* Estilos para el footer si lo necesitas */
footer {
    text-align: center;
    margin-top: 20px;
    font-size: 0.9em;
    color: #777;
}
